/*// autocomplete alternative*/
.ui-helper-hidden-accessible {
  display: none;
}
.ui-menu {
  font-family: Arial, sans-serif;
  background-color: #fff;
  width: 200px;
  border-right: 1px solid #D3D3D1;
  border-bottom: 1px solid #D3D3D1;
  border-left: 1px solid #D3D3D1;
  color: #2b5d92;
  margin-top: 5px;
  border-radius: 0 0 3px 3px;
  padding: 16px;
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}
.ui-autocomplete {
  position: relative;
}
.ui-autocomplete li {
  margin-bottom: 8px;
}
.ui-autocomplete li:last-child {
  margin-bottom: 0;
}

li.ui-autocomplete-category {
  font-size:18px;
  font-size:1.125rem;
  color: #343c47;

  font-weight: bold;
  margin-top: 24px;
}
li.ui-autocomplete-category:first-child {
  margin-top: 0;
}
.ui-menu-item {
    padding-left: 16px;
    cursor: pointer;
}
.ui-menu-item:before {
    content: "•";
    color: #ddd;
    padding-right: 10px;
    font-size: 22px;
    position: absolute;
    left: 16px;
}
.ui-menu-item a {
   color: #2b5d92;
}
.ui-state-focus,
.ui-state-focus a,
.ui-menu-item a:hover,
.ui-menu-item a:active,
.ui-menu-item a:focus {
  border-bottom: 1px solid #a1bfdd;
}
