@font-face {
	font-family: 'icomoon';
	src:url('Iconfonts/icomoon.eot?fu30mx');
	src:url('Iconfonts/icomoon.eot?#iefixfu30mx') format('embedded-opentype'),
		url('Iconfonts/icomoon.woff?fu30mx') format('woff'),
		url('Iconfonts/icomoon.ttf?fu30mx') format('truetype'),
		url('Iconfonts/icomoon.svg?fu30mx#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}


[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
	content: "\e601";
}

.icon-chevron-right2:before {
	content: "\e604";
}

.icon-chevron-left2:before {
	content: "\e606";
}

.icon-chevron-up:before {
	content: "\e603";
}

.icon-twitter:before {
	content: "\e605";
}

.icon-envelope:before {
	content: "\e600";
}



/****************************************************/
/*    RESETTING TO BE IN LINE WITH MODULAR CSS      */
/****************************************************/



.contrast {  /* white box with green border - don't all have rounded corners*/
	background-color:#FFFFFF;
	border: 1px solid #6ed5c9;
}

.bordered {   /* grey bordered box - all have rounded corners*/
	border: solid #D3D3D1 1px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.innerNoPadding .bordered {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.chevronlist li {
	background: url('/images/refresh/list-chevron.png') 0 0.5em no-repeat;
	color:#2B5D92;
	font-weight: normal;
	list-style-type:none;
	margin-bottom: 6px;
	padding-left:15px;
}



.outerWrapper {
	max-width: 100%;
}

.show400,
.show600,
.show700 {
	position:absolute;
	visibility: hidden;
}

.padlrmob {
	padding: 0 16px;
}




/****************************************************/
/*    END RESETTING TO BE IN LINE WITH MODULAR CSS      */
/****************************************************/

/* begin new reusable styles */

.brightbox {
	background: #fff;
	overflow: hidden;
}

.brightbox a {
	display: block;
	min-height: 128px;
	position: relative;
	overflow: hidden;
	width: 100%;
	border-bottom: solid 8px #F0D240;
	font-size: 14px;
}

.brightbox li:first-child a  {
	border-top: solid #ddd 1px;
}

.brightbox .purple {
	border-bottom: solid 8px #547BA2;
}

.brightbox-left {
	float: left;
	width: 30%;
}

.brightbox-info {
	display: block;
	float: right;
	width: 70%;
	padding: 32px 16px 16px 16px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.brightbox h4 {
	display: inline;
	color: #2b5d92;
}

.brightbox p {
	margin-top: 6px;
	color: #505a66;
}

.brightbox-pointer {
	position: absolute;
	bottom: 0;
	left: 8.5%;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 15px solid #F0D240;
	margin-bottom: -6px;
	transition: all linear .25s;
}

.purple .brightbox-pointer {
	border-bottom: 15px solid #547BA2;
}

.brightbox a:hover  .brightbox-pointer,
.brightbox a:active  .brightbox-pointer {
	margin-bottom: 0;
}

.brightbox a:hover  h4,
.brightbox a:active  h4 {
	border-bottom: dotted 1px;
}


/* fit-1-2-3: three boxes in one column in mobile, two boxes on one row in tablet, three boxes on one row in desktop */
/* fit-3: three boxes in one row */

.fit-1-2-3 {
	margin-bottom: 0;
}

.fit-3 li,
.fit-3 > div,
.fit-1-2-3 li,
.fit-1-2-3 > div {
	list-style-type: none;
	margin: 0;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.fit-3 li,
.fit-3 > div {
	width: 33.3333333333333%;
	float: left;
}


/* Begin homepage-specific styles */

.heading-hp {
	display: none;
}

.js .search--hp input {
    display: block;
}

.ribbon-home {
	background-color: #386390;
	background-image: url('/images/refresh/hp-header.jpg');
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom: solid #F3CF45 6px;
	display: none;
}



/* extended search box */

.search--hp {
	margin: 0;
	padding: 32px 16px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}



/* changing the order of elements in mobile */

.flexbox .flexcontents {
	display: flex;
	flex-direction: column;
}

.quicklinks {
	-webkit-order: 1;
}

.askus {
	-webkit-order: 2;
	order: 2;
	width: 100%;
}

.servicelist {
	-webkit-order: 3;
	order: 3;
}

.newsbox {
	-webkit-order: 4;
	order: 4;
}


/* bordered elements within impact box will always have white background */

.impactbox .bordered,
.impactbox .bordered-700 {
	background: #fff;
}

.impactbox li {
	list-style-type: none;
}


.impactbox h2  {
	padding: 8px 16px 0 16px;
	padding: 1.5rem 1rem 0 1rem;
 	margin-bottom: 12px;
}

.impactbox  a {
	display: block;
}


/* quicklinks (I need to...) */

.impactbox--quicklinks {
	border-top: solid #58D2C4 4px;
}

.impactbox--quicklinks .bordered {
	border-bottom: 0px;
}

.impactbox--quicklinks ul {
	margin-bottom: 0;
}

.quicklinks .lasta,
.quicklinks .lasta:hover,
.quicklinks .lasta:focus,
.quicklinks .lasta:active {
	border-bottom: 0;
}



/* --- List of services --- */

.servicelist ul {
	margin-bottom: 0;
}

.servicelist-viewall:hover,
.servicelist-viewall:active {
	text-decoration: underline;
}

.servicelist a {
	font-size: 18px;
	padding: 0.6rem 0 0.6rem 16px;
	border-bottom: solid #ddd 1px;
}

a.servicelist-1st-item {
	padding-top: 1.5rem;
}

.servicelist a:hover,
.servicelist a:active {
	background: #F4FCFB;
	border-bottom: #58D2C4 solid 1px;
}

.servicelist-desc {
	display: block;
	font-size: 13px;
	color:#505a66;
}

a.servicelist-viewall {
	display: block;
	border: 0;
	background: none;
	margin: 0;
	width: 100%;
	padding: 0.6rem 1rem 2rem 1rem;
	text-align: left;
	cursor: pointer;
}


a.servicelist-viewall:hover {
	border-bottom: 0;
}

.servicelist-viewall span {
	background: url('/images/refresh/chevron-down-blue.png') no-repeat right 50% ;
	padding-right: 20px;
	background-size: 12px;
	font-size: 14px;

}

.servicelist-viewall.viewless span {
	background: url('/images/refresh/chevron-up-blue.png') no-repeat right 50% ;
	background-size: 12px;

}


/* tweet us, email us and chat boxes - creating a different instance of brightbox style to display differently in mobile */

.brightbox-askus  {
	padding: 48px 0 24px 0;
	overflow: hidden;
	background: #182837;
}

.brightbox-askus li {
	text-align: center;
}

.brightbox-askus  p {
	display: none;
}

.brightbox-askus  a,
.brightbox-askus  a  h3 {
	color: #fff;
	transition:all .25s linear 0s;
}

.brightbox-askus  a:hover,
.brightbox-askus  a:active,
.brightbox-askus  a:hover h3,
.brightbox-askus  a:active h3 {
	color: #58D2C4;
	border-bottom: 0;
}

.askus .icon-envelope,
.askus .icon-chat,
.askus .icon-twitter,
.askus .icon-phone {
	font-size: 55px;
}


/* News items and Leader's blog */


.hollowpointer {
	position: relative;
	height: 15px;
	width: 183%;
	left: -78.5%;
	z-index: 30;
}
.lblog .hollowpointer {
	left: -78.5%;
}

.hollowpointer2,
.hollowpointer3 {
	border-bottom: solid #F5F5F1 16px;
	border-right: solid transparent 16px;
	border-left: solid transparent 16px;
	position: absolute;
	z-index: 40;
	margin-bottom: -5px;
}

.hollowpointer2 {
	left: 0;
}
.hollowpointer3 {
	right: 0;
}

.hollowpointer-center {
	position: absolute;
	width: 60px !important;
	left: 50%;
	margin-left: -30px;
	height: 10px;
}

.hollowpointer1,
.hollowpointer4
{
	display: block;
	position: absolute;
	height: 16px;
	width: 50%;
	background: #F5F5F1;
	z-index: 40;
}

.hollowpointer1 {
	left: -15px;
}
.hollowpointer4 {
	right: -15px;
}

.newsbox {
	margin-bottom: 24px;
}

.newsbox-img {
	position: relative;
}

.newsbox-img  img {
	display: block;
	height: auto !important;
}

.newsbox-img  a:hover {
	opacity: 0.8;
}

.newsbox-news img {
	width: 100% !important;
}

.lblog .newsbox-img {
	overflow: hidden;
}

.lblog img {
	width: 50% !important;
	float: right;
	position: relative;
	z-index: 1;
}

.lblog-overlay {
	display: block;
	width: 56%;
	position: absolute;
	z-index: 5;
	top: 0;
	left: 0;
	bottom: 0;
	background: url('/images/refresh/lblog-overlay.png') no-repeat;
	background-size: 100%;
}

.newsbox-img p {
	margin: 0;
	padding: 0;
}

.newsbox-img h2 {
	position: absolute;
	z-index: 40;
	top: 0;
	left: 0;
	font-size: 13px;
	font-weight: normal;
	background: rgba(243, 207, 69, 0.875);
	padding: 2px 8px;
	opacity: 1 !Important;
}



.lblog a:hover h3,
.lblog a:active h3,
.lblog a:hover .fadeout-readmore,
.lblog a:active .fadeout-readmore {
	border-bottom: dotted 1px;
}

.newsbox-items {
	overflow: hidden;
}

.newsbox-item {
	overflow: hidden;
	display: block;
	border-bottom: solid #ddd 1px;
	padding: 16px;
	padding: 1rem;
}

.newsbox-item h3 {
	display: inline;
	color: #2b5d92;
	border-bottom: transparent solid 1px;
}

.newsbox-item h3 a,
.newsbox-item a h3 {
	background-image: none;
	padding-right: 0;
}

.lblog .newsbox-item {
	position: relative;
}

.newsbox-item:last-child {
	border-bottom: 0;
}

.newsbox-item p {
	font-size: 14px;
	font-size: 0.875rem;
	color: #505a66;
}
.newsbox-item p:last-child  {
	margin-bottom: 0;
}

.newsbox-items {
	margin-top: -15px;
}

.newsbox-readmore {
	padding-bottom: 36px;
}

.fadeout {
	width: 100%;
	height: 100px;
	background: url('/images/refresh/fadegradient.png') repeat;
	background: -webkit-linear-gradient(rgba(245, 245, 241, 0),#F5F5F1 50%,#F5F5F1);
	background: -o-linear-gradient(rgba(245, 245, 241, 0),#F5F5F1 50%,#F5F5F1);
	background: -moz-linear-gradient(rgba(245, 245, 241, 0),#F5F5F1 50%,#F5F5F1);
	background: linear-gradient(rgba(245, 245, 241, 0),#F5F5F1 50%,#F5F5F1);
	position: absolute;
	z-index: 300;
	left: 0;
	right: 0;
	bottom: 0;
}
.fadeout-readmore {
	font-size: 14px;
	position: absolute;
	z-index: 400;
	line-height: 16px;
	font-style: italic;
	padding-right: 16px;
	right: 16px;
	bottom: 16px;
	border-bottom: transparent dotted 1px;
}

.flexbox  .lblog .newsbox-items,
.flexbox  .lblog .newsbox-item  {
	position: relative;
	overflow:hidden;
}




/* Local life in the Royal Borough of Kensington and Chelsea */

.local {
	padding-top:32px;
	padding-top: 2rem;
	background: #fff;
}

.local h3 {
	text-align: center;
}

.local-slider  {
	background: #132940;
	margin-bottom: 32px;
	margin-bottom: 2rem;
}

.local-slider-item a {
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	position: relative;
}

.local-slider-item a:hover,
.local-slider-item a:active {
	border-bottom: 0;
}


.local-img {
	display: block;
	width: 100%;
	padding-bottom: 100%;
}

.local-visit .local-img {
	background: url('/images/refresh/visit_kc.jpg') no-repeat;
	background-size: cover;
	transition: all linear .5s;
}

.local-city .local-img {
	background: url('/images/refresh/city_living.jpg')  no-repeat;
	background-size: cover;
	transition: all linear .5s;
}

.local-kcc .local-img {
	background: url('/images/refresh/kc_central.jpg') no-repeat;
	background-size: cover;
	transition: all linear .5s;
}

.local-museums .local-img {
	background: url('/images/refresh/leighton_hs.jpg') no-repeat;
	background-size: cover;
	transition: all linear .5s;
}

.local-wild .local-img {
	background: url('/images/refresh/wildlife.jpg') no-repeat;
	background-size: cover;
	transition: all linear .5s;
}

.local-timemachine .local-img {
	background: url('/images/refresh/timemachine.jpg') no-repeat;
	background-size: cover;
	transition: all linear .5s;
}

.local-text {
	background: #132940;
	text-align: center;
	display: block;
	padding: 1rem 3rem;
}

.local-text h2 {
	color: #fff;
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 0;
}

.local-slider-item a:hover .local-text h2,
.local-slider-item a:active .local-text h2 {
	color: #2b5d92;
	transition: none;
}

.localevents-date {
	display: block;
	width: 45px;
	height: 60px;
	background: #25374B;
	color: #fff;
	text-align: center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding-top: 10px;
	margin: 27px auto 0 auto;
}

.localevents-date span {
	display: block;
}

.localevents-day {
	font-size: 20px;
}

.localevents-month {
	font-size: 13px;
}



/* events panel */

.localevents-more {
	text-align: right;
	padding: 6px 16px 6px 0;
}

.localevents-more a {
	padding-right: 16px;
	font-size: 14px;
}



/* Press releases and Twitter */

.presstweet {
	padding-top: 48px;
	padding-bottom: 24px;
}

.press {
	padding: 0 32px 0 16px;
}

.press .date {
	font-size: 13px;
	display: block;
}

.twitter,
.twitter-ie {
	display: none;
}



@media only screen and (min-width: 400px) { /* --------------------------------------------------------------------------------------------------------------------------------------------------------------- */


.local {
	clear: both;
}

.show400 {
	position:static;
	visibility: visible;
}

} /* end media query */


@media only screen and (min-width: 560px) { /* --------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* local events snap to two columns (css needs refactoring - flex added to fitboxes instead?) */


.local-slider-item {
	position: relative;
}

.local-text {
	padding: 1rem 0.2rem;
}

.local-text h2 {
	font-size: 16px;
	font-weight: 700;
}

.fit-1-2-3 li,
.fit-1-2-3 > div {
	width: 50%;
	float: left;
}

.brightbox a  {
	border-top: solid #ddd 1px;
}

.brightbox li:first-child a  {
	border-right: solid #ddd 1px;
}

.flexbox .brightbox ul,
.flexbox .brightbox li {
	display: flex;
	align-items: stretch;
}

.flexbox .brightbox a {
	display: flex;
}
.fit-1-2-3 li:last-child  {
	display: none;
}

} /* end media query */


@media only screen and (min-width: 600px) { /* --------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* look at these again ? */

.show600 {
	position:static;
	visibility: visible;
}

.servicelist-desc {
	display: inline;
	padding-left: 8px;
}


/* quicklinks (I need to...) ( do so many of these styles need to be extended iconlinks classes ?)*/

.quicklinks ul {
	width: 50%;
	float: left;
	padding: 0 16px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.iconlinks-quicklinks {
	padding-bottom: 16px;
}

.iconlinks-quicklinks a,
.iconlinks-quicklinks .iconlinks-first,
.iconlinks-quicklinks .iconlinks-last {
	padding: 10px 16px 10px 60px;
	background-size: 25px;
	background-position: 1rem 50%;
}
a.iconlinks-quicklinks-fauxlast,
a.iconlinks-quicklinks-fauxlast:active,
a.iconlinks-quicklinks-fauxlast:hover,
a.iconlinks-quicklinks-fauxlast:focus {
	border-bottom: 0;
}

.quicklinks-2nd {
	float: right;
}

} /* end media query */


@media only screen and (min-width: 700px) { /* --------------------------------------------------------------------------------------------------------------------------------------------------------------- */



.padlrmob {
	padding: 0;
}

.bordered-700 {   /* grey bordered box - all have rounded corners*/
	border: solid #D3D3D1 1px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.innerNoPadding .bordered {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.ribbon-home,
.heading-hp {
	display: block;
}

.flexbox .flexcontents {
	display: block;
}

.ribbon-home {
	width: 100%;
	position: absolute;
	height: 540px;
}

.floatleft-700 {
	float: left;
}
.floatright-700 {
	float: right;
}

.inner-padded-desk {
	padding: 0 16px;
	padding: 0 1rem;
}

.headerglobal-openmenu,
.headerglobal-nav.hp {
	display: none !important;
}

.fit-1-2-3 li,
.fit-1-2-3 > div {
	width: 33.3333333333333%;
}


.quicklinks,
.servicelist {
	padding-left: 16px;
	padding-right: 16px;
}


.impactbox {
	background: #fff;
	border-top: solid #58D2C4 12px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	position: relative;
	list-style-type: none;
	margin-bottom: 2rem;
}

.impactbox h2 {
	padding: 0.5rem 1rem 0 1rem;
	font-size: 20px;
	margin: 0;
}

.impactbox  a {
	font-size: 16px;
}

.impactbox .bordered-700 {
	margin-top: -5px;
	border-top: solid #fff 1px;
}


/* search box in desktop view */

.search--hp {
	display: block !important;
	position: static;
	width: 100% !important;
	margin: 6px 0px 24px 0px;
	padding: 0 80px 1rem 80px;
	overflow: hidden;
	background: none;
}

.search--hp .search-wrap {
	float: left;
	width: 100%;
	margin-right: -56px;
}


.search--hp .search-input {
	background:rgba(255, 255, 255, 0.8);
	padding: 4px 4px 4px 16px;
	color: #386390 ;
	opacity: 1;
	font-size: 18px;
	height: 56px;
	border: solid #ddd 1px;
	font-family: arial, sans-serif;
	margin-right: 56px;
	width:100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	visibility: visible;
	transition: all linear 0.25s;
}

.search--hp .search-input:focus {
	background:#fff;
}

.search--hp  input :-moz-placeholder,
.search--hp  input ::-moz-placeholder ,
.search--hp  input :-ms-input-placeholder,
.search--hp  input ::-webkit-input-placeholder {
	color: #000 ;
	 opacity: 1 !important;
}

.search--hp .search-submit {
	background: #88898a url('/images/refresh/search-hp.png') center no-repeat;
	border: 0;
	border-left: solid #ddd 1px;
	background-size: cover;
	height: 56px;
	float:left;
	width: 56px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-indent: 500%;
	white-space: nowrap;
	overflow: hidden;
}

.search--hp .search-submit:hover {
	border-left: solid #ddd 1px;
	background-color: #58D2C4;
	background-position: center;
	cursor: pointer;
}


/* --- List of services --- */

ul.servicelist-1st  {
	float: left;
}

ul.servicelist-2nd  {
	float: right;
	display: block !important; /* important class to override edge cases where jquery hides element (should change to css animations to avoid having to do this really) */
}

.impactbox-services a:hover {
	border-bottom: solid #ddd 1px;
	background: 0;
}

.servicelist a {
	border-left: solid #fff 6px;
	padding: 10px;
	position: relative;
}

.servicelist li {
	background: url('/images/refresh/chevron-right-lightgrey.svg') right 50% no-repeat;
	background-size: 20px;
}


.servicelist  a:hover,
.servicelist  a:active,
.servicelist  a:focus {
	border-left: solid #58D2C4 6px;
	background-color: none;
}


a.servicelist-last,
a.servicelist-last:active,
a.servicelist-last:focus {
	border-bottom: 0 !important;
}

a.servicelist-viewall {
	display: none;
}

.servicelist ul {
	width: 50%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 1rem 2rem;
}



/* quicklinks (I need to...) */

.iconlinks-quicklinks {
	padding-bottom: 0;
}

.impactbox--quicklinks .bordered-700 {
	border-bottom: solid 1px #d3d3d1;
}

ul.quicklinks-1st,
ul.servicelist-1st  {
	padding: 16px 16px 16px 32px;
}
ul.quicklinks-2nd,
ul.servicelist-2nd  {
	padding: 16px 32px 16px 16px;
}


/* tweet us, email us and chat boxes - brightbox styles kick in */

.brightbox-askus {
	padding: 0 16px;
	background: none;
	margin-bottom: 32px;
}

.brightbox-askus a {
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	min-height: 128px;
	position: relative;
	overflow: hidden;
	width: 100%;
 	background: #fff;
}

.brightbox-askus a,
.brightbox-askus a:hover {
	border-bottom: solid 8px #F0D240;
	color: #2b5d92;
}

.brightbox-askus  a  h3,
.brightbox-askus  a:hover h3 {
	display: inline;
	color: #2b5d92;
	margin-bottom: 12px;
}

.brightbox-askus  a:hover h3 {
	border-bottom: dotted 1px;
}

.brightbox-askus  a  {
	border-top: solid #ddd 1px;
}

.brightbox-askus  p {
	display: block;
	margin-bottom: 0;
}

.brightbox-askus .purple,
.brightbox-askus .purple:hover {
	border-bottom: solid 8px #547BA2;
}

.brightbox-askus-left {
	width: 100%;
}

.brightbox-askus-info {
	display: block;
	padding: 0 16px 32px 16px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	min-height: 125px;  /* min height stops odd display bug in ie9 at normal zoom level (still happens sometimes if you zoom) */
}

.brightbox-askus h4 {
	display: inline;
	color: #2b5d92;
}

.brightbox-askus p {
	margin-top: 6px;
	color: #505a66;
}

.brightbox-askus-pointer {
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -20px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 15px solid #F0D240;
	margin-bottom: -6px;
	transition: all linear .25s;
}

.purple .brightbox-askus-pointer {
	border-bottom: 15px solid #547BA2;
}

.brightbox-askus a:hover  .brightbox-askus-pointer {
	margin-bottom: 0;
}

.brightbox-askus a:hover  h4 {
	border-bottom: dotted 1px;
}

.brightbox-askus a,
.brightbox a {
	border-right: solid #ddd 1px;
}

.brightbox-askus li:last-child a,
.brightbox li:last-child a  {
	border-right: 0;
}

.brightbox-askus-icon {
	font-size: 2.8rem !important;
	display: inline-block;
	padding-top: 2rem;
}

.flexbox .brightbox-askus ul,
.flexbox .brightbox-askus li {
	display: flex;
	align-items: stretch;
}

.brightbox li:last-child  {
	display: block;
}

.flexbox .brightbox li:last-child  {
	display: flex;
}


/* news items and Leader's blog */

.newsbox {
	margin-left: 0;
	margin-bottom: 32px;
	margin-bottom: 2rem;
	background: #F5F5F1;
}

.newsbox-news .hollowpointer {
	left: -84.5%;
}

.lblog {
	display: block;
	float: right;
	width: 35.417%;
}

.lblog-overlay {
	display: none;
}

.lblog img {
	width: 100% !important;
}

.flexbox .newsbox {
	display: flex;
	flex-direction: row;
}

.flexbox .lblog {
	display: flex;
	flex-direction: column;
	flex: 1;
 }

.flexbox  .lblog .newsbox-items,
.flexbox  .lblog .newsbox-item  {
	display: flex;
	flex: 1;
}

.flexbox  .lblog .hollowpointer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin-left: -80%;
	z-index: 9999;
}

.flexbox .newsbox-absolute {
	margin-top: 15px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	height: 500px;
	padding: 1rem;
}

.newsbox-readmore {
	padding-bottom: 16px;
}



/* Press releases and Twitter */

.press {
	float: left;
	width: 66.5%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-right: 1rem;
	padding-right: 16px;
}

.twitter {
	display: block;
	float: right;
	margin-bottom: 32px;
	margin-bottom: 2rem;
	padding-left: 32px;
	border-left: solid #ddd 1px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 33.3333% !important;
	padding-right: 16px;
}

#twitter-widget-0 {
	width: 100% !important;
}

.twitter-header {
	background: url('/images/refresh/twitter_logo_blue.png') no-repeat;
	background-size: 30px;
	padding: 15px;
	margin-bottom: 10px;
}


}/* end media query */



@media only screen and (min-width: 900px) {  /* --------------------------------------------------------------------------------------------------------------------------------------------------------------- */


.impactbox  a {
	font-size: 15px;
}


/* --- List of services --- */

.servicelist {
    padding-right: 0;
}


/* quicklinks (I need to...) */

.quicklinks {
	padding-left: 0;
}

.iconlinks-quicklinks a,
.iconlinks-quicklinks li:first-child a,
.iconlinks-quicklinks li:last-child a {
	padding: 10px 0 10px 28px;
	background-size: 16px;
	background-position: 0 50%;
}

ul.quicklinks-1st,
ul.quicklinks-2nd {
	float: none;
	width: auto;
}

ul.quicklinks-1st {
	padding: 1rem 1.5rem 0 1.5rem;
}
ul.quicklinks-2nd {
	padding: 0 1.5rem 1rem 1.5rem;
}

a.iconlinks-quicklinks-fauxlast {
	border-bottom: solid #ddd 1px !important;
}
a.iconlinks-quicklinks-fauxlast:active,
a.iconlinks-quicklinks-fauxlast:hover,
a.iconlinks-quicklinks-fauxlast:focus {
	border-bottom: solid #58D2C4 1px;
}


/* tweet us, email us and chat boxes */

.brightbox-askus-left {
	float: left;
	width: 30%;
}

.brightbox-askus-info {
 	float: right;
	text-align: left;
	width: 70%;
}

.brightbox-askus-info {
	padding: 32px 16px 32px 16px;
}

.brightbox-askus-pointer {
	left: 8.5%;
	margin-left: 0;
}


} /* end media query */


@media only screen and (min-width: 990px) { /* --------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* elements lose custom padding for desktop view */

.quicklinks,
.servicelist,
.ask,
.brightbox-askus {
	padding-left:0;
	padding-right: 0;
}
.press {
	padding-left:0;
}
.twitter {
	padding-right: 0;
}

} /* end media query */



@media only screen and (min-width: 1100px) { /* --------------------------------------------------------------------------------------------------------------------------------------------------------------- */


/* --- List of services --- */

ul.servicelist-1st,
ul.servicelist-2nd  {
	padding: 16px 32px;
}

.servicelist a {
	border-left: solid #fff 6px;
	padding: 0.25rem 0 0.25rem 10px;
	position: relative;
}


/* quicklinks (I need to...) */

.quicklinks li {
	float: none;
}

.iconlinks-quicklinks a,
.iconlinks-quicklinks li:first-child a,
.iconlinks-quicklinks li:last-child a {
	padding: 0.25rem 0 0.25rem 38px;
	background-size: 16px;
	background-position: 0.5rem 50%;
}


/* Local life in the Royal Borough of Kensington and Chelsea */

.local {
	background: #fff;
	clear: both;
	padding-bottom: 24px;
}

.local-slider {
	background: #fff;
}

.local-slider a {
	width: 100%;
	padding-bottom: 100%;
}

.local-text,
.local-img {
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
}

.local-text {
	padding: 16px 32px;
	background: #F3CF45;
	z-index: 1;
	text-align: center;
	font-family: "Optima W01", "Neue Helvetica eText W01", Arial, sans-serif;
}

.local-img {
	z-index: 2;
}


.flexbox .local-text {
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
}

.local-slider a h2 {
 	color: transparent;
	transition: all linear .5s !important;
	font-size: 2.8rem;
	line-height: 3.3333rem;
	transform: scale(0.95);
}

.local-slider a:hover h2 {
	 color:#2b5d92;
 	 transform: scale(1);
}


.local-slider a:hover .local-img,
.local-visit a:hover .local-img,
.local-city a:hover .local-img,
.local-kcc a:hover .local-img,
.local-museums a:hover .local-img,
.local-wild a:hover.local-img
 {
	opacity: 0;
	border-bottom: 0;
	transition: all linear 0.25s;
}


} /* end media query */



@media only screen and (min-width: 1700px) { /* --------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.ribbon-home {
	background-position: center 40%;
}

} /* end media query */









































.lt-ie9 .hide700  {
	display: none;
}


.lt-ie9 .padded-mob {
	padding: 0;
}

.lt-ie9 .bordered-700 {   /* grey bordered box - all have rounded corners*/
	border: solid #D3D3D1 1px;
}


.lt-ie9 .ribbon-home,
.lt-ie9 .heading-h1-hp {
	display: block;
}

.lt-ie8 .fit-3,
.lt-ie8 .fit-1-2-3  {
	margin-left: 0;
}

.lt-ie8 .localevents a,
.lt-ie8 .fit-3 a {
	cursor: pointer;
}

.lt-ie8 .brightbox-askus-left,
.lt-ie8 .brightbox-left {
	width: 20px;
	height: 0;
}

.lt-ie8 .localevents-date {
	margin-left: 15px !important;
}



.lt-ie9 .ribbon-home {
	width: 100%;
	position: absolute;
	height: 540px;
	left: 0;
}



.lt-ie9 .floatleft-700 {
	float: left;
}
.lt-ie9 .floatright-700 {
	float: right;
}

.lt-ie9 .inner-padded-desk {
	padding: 0 16px;
}

.lt-ie9 .headerglobal-openmenu,
.lt-ie9 .menu-hp {
	display: none !important;
}

.lt-ie9 .fit-1-2-3 li,
.lt-ie9 .fit-1-2-3 > div {
	float: left;
	width: 33.3333333333333%;
}




.lt-ie9 .quicklinks a {
	background-image: url('/images/refresh/iconlinks-small.png');
}

.lt-ie9 .impactbox {
	background: #fff;
	border-top: solid #58D2C4 12px;
	position: relative;
	list-style-type: none;
	margin-bottom: 32px;
}



.lt-ie9 .impactbox .bordered-700 {
	margin-top: -5px;
	border-top: solid #fff 1px;
}


/* search box in desktop view */

.lt-ie9 .search--hp {
	position: static;
	display: block !important;
	width: 800px !important;
	float: none;
	margin: 6px auto 24px auto;
	padding: 0 0 16px 0;
	overflow: hidden;
}

/* .lt-ie8 .search--hp {
	width: 70% !important;
}
 */
.lt-ie9 .search--hp .search-wrap {
	float: left;
	width: 100%;
	margin-right: -56px;
}


.lt-ie9 .search--hp .search-input {
	background:rgba(255, 255, 255, 0.8);
	padding: 16px 4px 4px 16px;
	color: #386390 ;
	opacity: 1;
	font-size: 18px;
	height: 56px;
	border: solid #ddd 1px;
	font-family: arial, sans-serif;
	margin-right: 56px;
	width:100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	visibility: visible;
	transition: all linear 0.25s;
}

.lt-ie8 .search--hp .search_full_text input {
	height: 34px;
}

.lt-ie9 .search--hp .search_full_text input:focus {
	background:#fff;
}

.lt-ie9 .search--hp .search-submit {
	background: #88898a url('/images/refresh/search--hp-ie.png') center no-repeat !important;
	border: 0;
	border-left: solid #ddd 1px;
	background-size: cover;
	height: 56px;
	float:left;
	width: 56px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-indent: 500%;
	white-space: nowrap;
	overflow: hidden;
}

.lt-ie9 .search--hp .search-submit:hover {
	border-left: solid #ddd 1px;
	background: #58D2C4 url('/images/refresh/search--hp-ie.png') center no-repeat !important;
	cursor: pointer;
}


/* --- List of services --- */

.lt-ie9 ul.servicelist-1st  {
	float: left;
}

.lt-ie9 ul.servicelist-2nd  {
	float: right;
	display: block !important; /* important class to override edge cases where jquery hides element (should change to css animations to avoid having to do this really) */
}

.lt-ie9 .impactbox-services a:hover {
	border-bottom: solid #ddd 1px;
	background: 0;
}

.lt-ie9 .servicelist a {
	border-left: solid #fff 6px;
	padding: 4px 10px;
	position: relative;
}

.lt-ie9 .servicelist  a:hover,
.lt-ie9 .servicelist  a:active,
.lt-ie9 .servicelist  a:focus {
	border-left: solid #58D2C4 6px;
	background-color: none;
}

.lt-ie9 a.servicelist-last,
.lt-ie9 a.servicelist-last:active,
.lt-ie9 a.servicelist-last:focus {
	border-bottom: 0 !important;
}

.lt-ie9 a.servicelist-viewall {
	display: none;
}

.lt-ie9 .servicelist ul {
	width: 50%;
	box-sizing: border-box;
	padding: 16px 32px;
}

.lt-ie8 .servicelist ul {
	margin: 0;
	padding: 0;
	width: 245px;
	}


/* quicklinks (I need to...) */

.lt-ie9 .iconlinks-quicklinks {
	padding-bottom: 0;
}

.lt-ie9 .impactbox--quicklinks .bordered-700 {
	border-bottom: solid 1px #d3d3d1;
}

.lt-ie9 ul.quicklinks-1st,
.lt-ie9 ul.servicelist-1st  {
	padding: 16px 16px 16px 32px;
	margin: 0;
}
.lt-ie9 ul.quicklinks-2nd,
.lt-ie9 ul.servicelist-2nd  {
	padding: 16px 32px 16px 16px;
	margin: 0;
}

.lt-ie8 .quicklinks a {
background-position: 10px 50%;

}

/* tweet us, email us and chat boxes - brightbox styles kick in */

.lt-ie9 .brightbox-askus {
	padding: 0 16px;
	background: none;
	margin-bottom: 32px;
}

.lt-ie9 .brightbox-askus a {
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	min-height: 128px;
	position: relative;
	overflow: hidden;
	width: 100%;
 	background: #fff;
}

.lt-ie9 .brightbox-askus a,
.lt-ie9 .brightbox-askus a:hover {
	border-bottom: solid 8px #F0D240;
	color: #2b5d92;
}

.lt-ie9 .brightbox-askus  a  h3,
.lt-ie9 .brightbox-askus  a:hover h3 {
	display: inline;
	color: #2b5d92;
	margin-bottom: 12px;
}

.lt-ie9 .brightbox-askus  a:hover h3 {
	border-bottom: dotted 1px;
}

.lt-ie9 .brightbox  a,
.lt-ie9 .brightbox-askus  a  {
	border-top: solid #ddd 1px;
}

.lt-ie9 .brightbox-askus  p {
	display: block;
	margin-bottom: 0;
}

.lt-ie9 .brightbox-askus .purple,
.lt-ie9 .brightbox-askus .purple:hover {
	border-bottom: solid 8px #547BA2;
}

.lt-ie9 .brightbox-askus-left {
	width: 100%;
}

.lt-ie9 .brightbox-askus-info {
	display: block;
	padding: 0 16px 32px 16px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.lt-ie9 .brightbox-askus h4 {
	display: inline;
	color: #2b5d92;
}

.lt-ie9 .brightbox-askus p {
	margin-top: 6px;
	color: #505a66;
}

.lt-ie9 .brightbox-askus-pointer {
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -20px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 15px solid #F0D240;
	margin-bottom: -6px;
	transition: all linear .25s;
}

.lt-ie9 .purple .brightbox-askus-pointer {
	border-bottom: 15px solid #547BA2;
}

.lt-ie9 .brightbox-askus a:hover  .brightbox-askus-pointer {
	margin-bottom: 0;
}

.lt-ie9 .brightbox-askus a:hover  h4 {
	border-bottom: dotted 1px;
}

.lt-ie9 .brightbox-askus a,
.lt-ie9 .brightbox a {
	border-right: solid #ddd 1px;
}

.lt-ie9 .brightbox-askus li:last-child a,
.lt-ie9 .brightbox li:last-child a  {
	border-right: 0;
}

.lt-ie9 .brightbox-askus-icon {
	font-size: 55px !important;
	display: inline-block;
	padding-top: 32px;
}



.lt-ie9 .brightbox li:last-child  {
	display: block;
}



/* news items and Leader's blog */

.lt-ie9 .newsbox {
	margin-left: 0;
	margin-bottom: 32px;
	margin-bottom: 2rem;
	background: #F5F5F1;
}

.lt-ie9 .newsbox h2 {
	background: #F3CF45;
}


.lt-ie9 .lblog a {
	border-bottom: 0 !important;
}

.lt-ie9 .newsbox-readmore {
	border-bottom: 0;
}

.lt-ie9 .newsbox p {
	margin-bottom: 0 !important;
}

.lt-ie9 .lblog {
	display: block;
	float: right;
	width: 35.417%;
}

.lt-ie9 .lblog-overlay {
	display: none;
}

.lt-ie9 .lblog img {
	width: 100% !important;
}


.lt-ie9 .newsbox-readmore {
	padding-bottom: 16px;
}


/* Press releases and Twitter */

.lt-ie9 .press {
	float: left;
	width: 66.5%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-right: 1rem;
	padding-right: 16px;
}

.lt-ie9 .twitter {
	display: block;
	float: right;
	margin-bottom: 32px;
	margin-bottom: 2rem;
	padding-left: 32px;
	border-left: solid #ddd 1px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 33.333333% !important;
	padding-right: 16px;
}

.lt-ie8 .twitter {
	width: 285px !important;
}

.lt-ie9 #twitter-widget-0 {
	width: 100% !important;
}

.lt-ie9 .twitter-header {
	background: url('/images/refresh/twitter_logo_blue.png') left no-repeat;
	padding: 15px 30px 15px 15px;
	margin-bottom: 10px;
	float: left;
}


.lt-ie8 .hollowpointer {
	background: #F5F5F1;
	margin-bottom: 5px;
}


.lt-ie9 .impactbox  a {
	font-size: 15px;
}


/* --- List of services --- */

.lt-ie9 .servicelist {
    padding-right: 0;
}


/* quicklinks (I need to...) */

.lt-ie9 .quicklinks {
	padding-left: 0;
}


.lt-ie9 ul.quicklinks-1st,
.lt-ie9 ul.quicklinks-2nd {
	float: none;
	width: auto;
}



/* tweet us, email us and chat boxes */

.lt-ie9 .brightbox-askus-left {
	float: left;
	width: 30%;
}

.lt-ie9 .brightbox-askus-info {
 	float: right;
	text-align: left;
	width: 70%;
}

.lt-ie9 .brightbox-askus-info {
	padding: 32px 16px 32px 16px;
}

.lt-ie9 .brightbox-askus-pointer {
	left: 8.5%;
	margin-left: 0;
}


/* elements lose custom padding for desktop view */

.lt-ie9 .quicklinks,
.lt-ie9 .servicelist,
.lt-ie9 .ask,
.lt-ie9 .brightbox-askus {
	padding-left:0;
	padding-right: 0;
}
.lt-ie9 .press {
	padding-left:0;
	width: 622px;
}
.lt-ie9 .twitter {
	padding-right: 0;
}

.lt-ie9 .twitter-ie {
	display: block;
}


/* --- List of services --- */

.lt-ie9 ul.servicelist-1st,
.lt-ie9 ul.servicelist-2nd  {
	padding: 16px 32px;
}

.lt-ie9 .servicelist a {
	border-left: solid #fff 6px;
	padding: 0.25rem 0 0.25rem 10px;
	position: relative;
}


/* quicklinks (I need to...) */
.lt-ie9 .quicklinks ul,
.lt-ie9 .quicklinks li {
	float: none;
}

.lt-ie9 .quicklinks ul {
	padding-left: 24px;
	padding-right: 24px;
}

.lt-ie9 .quicklinks-1st {
	padding-bottom: 0 !important;
}
.lt-ie9 .quicklinks-2nd {
	padding-top: 0 !important;
}

.lt-ie9 .iconlinks-quicklinks a {
	padding-top: 4px;
	padding-right: 0;
padding-bottom:	4px;
padding-left: 38px !important;
	background-position: 0.5rem 50%;
}
.lt-ie8 .iconlinks-quicklinks a {
padding-left: 20px !important;
}

/* Local life in the Royal Borough of Kensington and Chelsea */

.lt-ie9 .local {
	background: #fff;
	clear: both;
	padding-bottom: 48px;
}



.lt-ie9 .local-slider-item {
	position: relative;
}

.lt-ie8 .local-slider-item {
	margin-bottom: 32px;
}

.lt-ie8 .local-slider-item {
	width: 33.333%;
	float: left;
}

.lt-ie8 .local-slider-item {
	height: 320px;
}

.lt-ie8 .ie-morethanthree {
	display: none;
}

.lt-ie9 .local-text {
	padding: 16px 4px;
}

.lt-ie9 .local-text {
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	padding: 16px;
	background: #F3CF45 !important;
	z-index: 0;
	text-align: center;
	font-family: "Optima W01", "Neue Helvetica eText W01", Arial, sans-serif;
}



.lt-ie9 .local-text h2 {
	padding-top: 16px;
	font-size: 45px !important;
	line-height: 64px;
	transform: scale(0.95);
}

.lt-ie9 .local-slider a:hover + .local-text h2 {
	 color:#2b5d92;
	 visibility: visible;
	 transform: scale(1);
}

.lt-ie9 .local-slider {
	background: #fff;
}

.lt-ie9 .local-slider a {
	z-index: 2;
}

.lt-ie9 .local-slider a:hover,
.lt-ie9 .local-visit a:hover,
.lt-ie9 .local-city a:hover,
.lt-ie9 .local-kcc a:hover,
.lt-ie9 .local-museums a:hover,
.lt-ie9 .local-wild a:hover
 {
	height: 0;
	border-bottom: 0;
	background: none;
}


.lt-ie9 .ribbon-home {
	background-position: center 40%;
}



